@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

/*Desktop*/
.backButton{
    width: 200px;
    margin: 0px 30px 0px 0px;
    transform: translateX(200px) translateY(70px);
    color: white;
    background-color: #4045C6;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 25px;
    font-family: "ScrollTroll";
    box-shadow: none;
    transition: all ease-out 0.2s;
}
.backButton:hover{
background-color: #202258;
transition: all ease-out 0.2s;
font-weight: bold;
box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.49);
}
.blogEntryMain{
    
    display: flex;
    flex-direction: column;
overflow-y: hidden;
   
}
.entryImage{
  width: 100rem;
height: 80vh;
    object-fit: cover;
    align-self: center;
    display: flex;
    border-radius: 30px;
    overflow-y: hidden;
}
.blogIconandButton{
    margin: 20px;
    transform: translateY(-170px) translateX(160px);
    display: flex;
}
.blogTempIcon{
    background-color: #4045C6;
    width: 10%;
    padding: 2%;
    border-radius: 150px;
    margin: 0px 30px 0px 0px;
    border: 10px solid #202258;
}
.blogNextButton{
    margin: 0px 0px 0px 1000px;
    text-decoration: none;
    color: white;
    transform: translateY(80px);
font-family: "ScrollTroll";
    font-size: 2em;
   background-color: #4045C6;
    border-radius: 50px;
    padding: 20px;
    display: flex;
   
}
.blogNextButton:hover{
   background-color: #202258;
transition: all ease-out 0.2s;
    font-weight: bold;
box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.49);
}
.nextButton{
    background-color: #898bc100;
    border: none;
}
.blogTempMain{
    display: flex;
    flex-direction: column;
    transform: translateY(-180px);
    width: 80%;
    padding: 0px 200px 0px 200px;
  
}
.blogTitle{
    font-size: 5em;
    padding: none;
    margin: none;
}
.blogAuthor{
    font-family: 'ScrollTroll';
    font-size: 3em;
    transform: translateY(-100px);
    color: #595B8C;
}
.blogDescription{
    font-family: 'Outfit';
    transform: translateY(-100px);
    font-size: 2em;
    color: #35376b;

}
.blogTempDate{
    font-family: 'ScrollTroll';
    color: #595B8C;
    font-size: 2em;
    transform: translateY(-100px);
}
.tabList{
    display: inline-flex;
    font-family: 'Outfit';
    font-size: 2em;
    transform: translateY(-50px);
    border-bottom: 4px solid #898bc1;
    
}
.tab{
    list-style: none;
    padding: 0px 20px 10px 20px;
}
#blogTab {
    text-decoration: none;
    color: #202258;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.6em;
    text-decoration-thickness: 4px;
}
#refTab {
    text-decoration: none;
    color: #595B8C;
}
.blogContentContainer{
   font-family: 'Outfit';
   font-size: 1.2em;
color: #202258;
}
.blogFigure{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.figCap{
    font-size: 0.8em;
    padding: 5px 0px 0px 0px;
    font-style: italic;
}
.blogReferenceSection{
    width: 90%;
   font-size: 0.8em;
   color: white;
   background-color: #202258;
   padding: 10px 20px 10px 40px;
   border-radius: 20px;
   border: 3px solid #202258;
}
.refA{
    color: #EA9B00;
}
.designImg{
    align-self: center;
    justify-self: center;
}
.designActiveContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wireframeTitle{
    font-size: 2em;
}
.styleImg{
    width: 1000px;
}

/*Mac*/
@media only screen and (min-width: 1200px ) and (max-width: 1600px){
.backButton{
    transform: translateX(100px) translateY(80px);
}
.blogEntryMain{
    overflow-x: hidden;
}
.entryImage{
    width: 80rem;
}
.blogIconandButton{
    transform: translate(90px, -120px);

}
.blogNextButton{
    margin: 0px 0px 0px 600px;
    transform: translateY(60px);
}
.blogContentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}
.blogTempMain{
    transform: translateX(-50px) translateY(-120px);
}
.wireframeTitle{
    align-items: center;
    justify-content: flex-start;

}
}
/*Tablets*/
@media only screen and (min-width: 767px) and (max-width: 1199px){
.backButton{
    transform: translateX(-280px) translateY(50px);
    font-size: 1.2em;
    padding: none;
    max-width: 80px;
    z-index: 1;
    font-family: "ScrollTroll";
}
.entryImage{
    width: 45rem;
    height: 20rem;
  transform: translateX(10px);
  z-index: 0;
}
.blogIconandButton {
    transform: translate(-20px, -80px);

}
.blogNextButton {
    margin: 0px 0px 0px 400px;
    padding: 10px 20px 10px 20px;
    transform: translateY(40px);
    font-size: 1.2em;
    max-width: 200px;
    font-family: "ScrollTroll";
}
.blogTempMain {
    padding: 100px 20px 0px 0px;

}
.blogEntryMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: none;
    margin: none;
    overflow-x: hidden;
}
.blogTempIcon{
width: 60px;
}

.blogEntryMain{
    overflow-x: hidden;
    transform: translateX(-10px);
}
.blogTitle{
    font-size: 3.5vw;
    max-width: 760px;
}
.blogAuthor{
    font-size: 2.3vw;
    padding: 70px 0px 0px 3px;
}
.blogDescription{
    font-size: 2.5vw;
    max-width: 700px;
    color: #202258;
}
.blogTempDate{
    font-size: 2vw;
}
.tabList{
    transform: translateY(-120px) translateX(10px);
    max-width: 730px;
    font-size: 2vw;
}
.blogContentContainer{
    max-width: 720px;
    transform: translateY(-100px) translateX(20px);
    font-size: 2vw;
    overflow-x: hidden;
}
.blogReferenceSection{
    padding-bottom: none;
}
.designImg{
   width: 40em;
   object-fit: contain;
}
.styleImg{
   width: 40rem;
   object-fit: contain;

}
}
/*Mobile*/
@media only screen and (min-width: 374px) and (max-width: 766px){
   .backButton{
    width: 60px;
    font-size: 1em;
    transform: translateX(60px) translateY(45px);
    z-index: 1;
   }
    .blogEntryMain{
        transform: translateX(-40px);
        transform: translateY(-30px);
        width: 370px;
        padding: none;
        margin: none;
        overflow-x: hidden;
    }
    .blogTempMain{
        margin: none;
        padding: none;
        transform: translateX(-20px);
    }
    .entryImage{
        width: 20rem;
        height: 13rem;
        transform: translateX(10px);
        z-index: 0;
    }
        .blogIconandButton {
            transform: translate(40px, -60px);
    
        }
        .blogTempIcon{
            width: 50px;
            height: 50px;
            border: 3px solid;
        }
                .blogNextButton {
                    
                    
                    transform: translateX(-960px) translateY(25px);
                   font-size: 1em;
                   display: flex;
                   align-content: center;
                   justify-content: center;
                    width: 80px;
                    padding: 10px 5px 10px 5px;
                    font-family: "ScrollTroll";
                }
                
    .blogContentContainer{
        transform: translateX(-130px) translateY(-120px);
        font-size: 1em;
        overflow-x: hidden;
    }
    .blogFigure{
        width: 300px;
        transform: translateX(-20px)
    }
    .blogTitle{
        transform: translateX(-120px) translateY(-60px);
        font-size: 2.3em;
    }
    .blogAuthor{
        font-size: 1.7em;
        transform: translateX(-120px) translateY(-100px);
        
    }
    .blogDescription{
        transform: translateX(-120px) translateY(-120px);
        font-size: 1em;
    }
    .blogTempDate{
        transform: translateX(-120px) translateY(-120px);
        font-size: 1em;
    }
    .tabList{
        transform: translateX(-140px) translateY(-120px);
        font-size: 1em;
    }
    .blogReferenceSection{
        max-width: 300px;
        transform: translateX(-20px);
        font-size: 0.7em;
    }
    .designImg{
max-width: 18rem;
    }
        .styleImg{
           max-width: 18rem;
        }
}