@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}
.blogEntryMain{
    
    display: flex;
    flex-direction: column;
   
}
.blogImage{
  width: 180vh;
height: 80vh;
    object-fit: cover;
}
.blogIconandButton{
    margin: 20px;
    transform: translateY(-170px) translateX(100px);
    display: flex;
}
.blogTempIcon{
    background-color: #B00110;
    width: 10%;
    padding: 2%;
    border-radius: 150px;
    margin: 0px 30px 0px 0px;
}
.blogNextButton{
    margin: 0px 0px 0px 1200px;
    text-decoration: none;
    color: white;
    transform: translateY(80px);
    font-family: 'Outfit';
    font-size: 2em;
   background-color: #4045C6;
    border-radius: 50px;
    padding: 20px;
    display: flex;
   
}
.blogNextButton:hover{
   background-color: #202258;
box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.49);
}
.nextButton{
    background-color: #898bc100;
    border: none;
}
.blogTempMain{
    display: flex;
    flex-direction: column;
    transform: translateY(-180px);
    width: 80%;
    padding: 0px 200px 0px 200px;
  
}
.blogTitle{
    font-size: 5em;
    padding: none;
    margin: none;
}
.blogAuthor{
    font-family: 'Outfit';
    font-size: 3em;
    transform: translateY(-100px);
    color: #595B8C;
}
.blogDescription{
    font-family: 'Outfit';
    transform: translateY(-100px);
    font-size: 2em;

}
.blogTempDate{
    font-family: 'ScrollTroll';
    color: #595B8C;
    font-size: 2em;
    transform: translateY(-100px);
}
.tabList{
    display: inline-flex;
    font-family: 'Outfit';
    font-size: 2em;
    transform: translateY(-50px);
    border-bottom: 4px solid #898bc1;
    
}
.tab{
    list-style: none;
    padding: 0px 20px 10px 20px;
}
#blogTab {
    text-decoration: none;
    color: #202258;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.6em;
    text-decoration-thickness: 4px;
}
#refTab {
    text-decoration: none;
    color: #595B8C;
}
.blogContentContainer{
   font-family: 'Outfit';
   font-size: 1.2em;
color: #202258;
}
.blogFigure{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.figCap{
    font-size: 0.8em;
    padding: 5px 0px 0px 0px;
    font-style: italic;
}
.blogReferenceSection{
    width: 90%;
   font-size: 0.8em;
   color: white;
   background-color: #202258;
   padding: 10px 20px 10px 40px;
   border-radius: 20px;
   border: 3px solid #202258;
}
.refA{
    color: #EA9B00;
}
.designImg{
    align-self: center;
    justify-self: center;
}
.designActiveContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wireframeTitle{
    font-size: 2em;
}