@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

.blogCard{
    background-color: white;
    border-radius: white;
    display: flex;
    flex-direction: column;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
box-shadow: 5px 5px 0px 0px rgba(60, 61, 135, 0.65);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(60, 61, 135, 0.65);
    -moz-box-shadow: 5px 5px 0px 0px rgba(60, 61, 135, 0.65);
    max-width: 1fr;
    max-height: 700px;
    transition: all 0.1s ease-out;
}
.blogCard:hover{
    border: 4px solid #202258;
    box-shadow: 15px 15px 0px 0px rgba(32, 34, 88, 0.66);
        -webkit-box-shadow: 15px 15px 0px 0px rgba(32, 34, 88, 0.66);
        -moz-box-shadow: 15px 15px 0px 0px rgba(32, 34, 88, 0.66);
        transform: translate(0.5rem 0.5rem);
}
.blogHeader{
    display: flex;
}
.blogIcon{
    background-color: #202258;
    border-radius: 50px;
    max-width: 80px;
    margin: 20px;
}
.blogTitleAndName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blogCardTitle{
    font-family: "ScrollTroll";
    background-color: white;
    color: #202258;
    font-size: 3em;
    margin: 10px 20px 0px 25px;
}
.blogCardAuthor{
    font-family: 'ScrollTroll';
    font-size: 1.8em;
    margin: 0px 10px 0px 10px;
    color: #595B8C;
}

.blogSummary{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0px 0px 0px 20px;
    font-family: 'Outfit';
    font-size: 1.5em;
    color: #202258;
  
}
.blogImage{
    
    margin: 10px 10px 30px 10px;
border-radius: 20px;
  max-width: 500px;
  max-height: 200px;
    align-self: center;
 
}
.blogDate{
  font-family: 'ScrollTroll';
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  color: #595B8C;
}
.blogSocials{
    list-style-type: none;
    display: flex;
   border-top: 3px solid #2b2d69;
   padding: 10px 0px 0px 15px;
   color: #595B8C;
   font-family: 'ScrollTroll';
}
.blogSocialType{
    padding: 0px 20px 0px 0px;
    align-items: baseline;
    justify-content: baseline;
    display: inline-flex;
}
.blogNumber{
    color: #202258;
}
.blogGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
        grid-row-gap: 40px;
}
@media only screen and (min-width: 767px) and (max-width: 1199px){
    .blogGrid{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .blogCard{
        width: 300px;
        height: 430px;
    
    }
    .blogCardTitle{
        font-size: 2em;
        transform: translateX(-25px);
        width: 200px;
    }
    .blogIcon{
        width: 60px;
        height: 60px;
    }
    .blogSummary{
        font-size: 0.8em;
    }
    .blogImage{
        width: 30vw;
        height: 20vw;
    }
    .blogDate{
        font-size: 0.7em;
        transform: translateY(-20px);
    }
    .blogSocials{
        transform: translateY(-20px);
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 104px) and (max-width: 766px){
.blogGrid{
    grid-template-columns: 1fr;

}
.blogCard{
    transform: translateX(120px);
}
}