@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

/*//////////////////////////////////////////////////////DESKTOP/////////////////////////////////////////////////////////////////*/
.imageFHover{
    transform: translateY(-50%, -50%);
}
.backButton{
    width: 200px;
    margin: 0px 30px 0px 0px;
    transform: translateX(200px) translateY(70px);
    color: white;
    background-color: #4045C6;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 25px;
    font-family: "ScrollTroll";
    box-shadow: none;
    transition: ease-in-out 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
       
}
.backButton:hover{
border: 3px solid #26285c;

font-weight: bold;
box-shadow: 8px 10px 0px 0px rgba(32, 34, 88, 0.69);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.69);
    -moz-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.69);
    transition: ease-in-out 0.3s;
}
.blogEntryMain{
    
    display: flex;
    flex-direction: column;
overflow-y: hidden;

   
}

.entryImage{
  width: 100rem;
height: 80vh;
    object-fit: cover;
    align-self: center;
    display: flex;
    border-radius: 30px;
    overflow-y: hidden;
}
.blogIconandButton{
    margin: 20px;
    transform: translateY(-170px) translateX(160px);
    display: flex;
}
.blogTempIcon{
    background-color: #4045C6;
    width: 10%;
    padding: 2%;
    border-radius: 150px;
    margin: 0px 30px 0px 0px;
    border: 10px solid #202258;
}

.blogTempMain{
    display: flex;
    flex-direction: column;
    transform: translateY(-180px);
    width: 80%;
    padding: 0px 200px 0px 200px;
    z-index: 2;
  
}
.blogTitle{
    font-size: 5em;
    padding: none;
    margin: none;
    width: 100%
}
.blogAuthor{
    font-family: 'ScrollTroll';
    font-size: 3em;
    transform: translateY(-100px);
    color: #595B8C;
}
.blogDescription{
    font-family: 'Outfit';
    transform: translateY(-100px);
    font-size: 2em;
    color: #35376b;

}
.blogTempDate{
    font-family: 'ScrollTroll';
    color: #595B8C;
    font-size: 2em;
    transform: translateY(-100px);
}
.tabList{
    display: inline-flex;
    font-family: 'Outfit';
    font-size: 2em;
    transform: translateY(-50px);
    border-bottom: 4px solid #898bc1;
    list-style: none;
    
}
.tab{
    list-style: none;
    padding: 0px 20px 10px 20px;
}
.tabButton{
    background-color: transparent;
    border: none;
    color: #595B8C;
    font-family: "Outfit";
    font-size: 1em;
    margin: 0px 10px 0px 10px;
}
.tabButton:hover{
    color: #202258;
    text-decoration: underline;
    text-underline-offset: 11px;

}
.activeTab{
        color: #202258;
            text-decoration: underline;
            text-underline-offset: 11px;
            font-weight: bold;
}
.activeSection{
    display: block;
}
.inactiveSection{
    display: none;
}
.designActiveContent{
    display: block;
}

.designInactiveContent {
    display: none;
}
.blogContentContainer{
   font-family: 'Outfit';
   font-size: 1.2em;
color: #202258;
}
.blogFigure{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.figCap{
    font-size: 0.8em;
    padding: 5px 0px 0px 0px;
    font-style: italic;
}
.blogReferenceSection{
    width: 90%;
   font-size: 0.8em;
   color: white;
   background-color: #202258;
   padding: 10px 20px 10px 40px;
   border-radius: 20px;
   border: 3px solid #202258;
}
.refA{
    color: #EA9B00;
}
/* Related post blog stuff */
.relatedContent{
    display: flex;
    flex-direction: column;
  
    justify-content: center;
}
.relatedTitle{
    font-size: 3.5em;
    font-family: 'ScrollTroll';
    color: #35376b;
    width: 100%;
    border-bottom: 5px solid #35376b;
}
.relatedSpan{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
}
.relatedCard{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 150px;

    margin: 20px;
}
.relatedArticle{
font-family: 'ScrollTroll';
    color: #2b2d58d9;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
}
.relatedSummary{
    font-family: 'Outfit';
    color: #35376bcd;
    transform: translateY(-50px);
}
.readMoreLink{
    font-family: 'ScrollTroll';
    color: #2b2d58;
    transform: translateY(-50px);
}
.emailSubscribe{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#subEmail{
    padding: 20px;
    width: 300px;
    border: 2px solid #35376b;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: 'ScrollTroll';
}
.subscribeButton{
    padding: 20px;
        
        border: 2px solid #35376b;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        font-family: 'ScrollTroll';
        font-weight: bold;
        color: white;
        background-color: #35376b;
}
#subPopover{
   font-family: 'ScrollTroll';
   padding: 10px;
}
.topLink{
    position: absolute;
    right: 5%;
    border: 2px solid #202258;
    border-radius: 50px;
}
.topLink:hover{
    border: 5px solid #202258;
}
.designImg{
    align-self: center;
    justify-self: center;
}
.designActiveContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wireframeTitle{
    font-size: 2em;
}
.styleImg{
    width: 1000px;
}

/*//////////////////////////////////////////////////////Mac/////////////////////////////////////////////////////////////////*/


@media only screen and (min-width: 1200px ) and (max-width: 1600px){
.backButton{
    transform: translateX(100px) translateY(80px);
}
.blogEntryMain{
    overflow-x: hidden;
}
.entryImage{
    width: 80rem;
}
.blogIconandButton{
    transform: translate(90px, -120px);

}
.blogTitle{
    width: 100%;
}
.blogContentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}
.blogTempMain{
    transform: translateX(-50px) translateY(-120px);
}
.wireframeTitle{
    align-items: center;
    justify-content: flex-start;

}
}
/*//////////////////////////////////////////////////////Tablets/////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 767px) and (max-width: 1199px){
.backButton{
    transform: translateX(-280px) translateY(50px);
    font-size: 1.2em;
    padding: none;
    max-width: 80px;
    z-index: 1;
    font-family: "ScrollTroll";
}
.entryImage{
    width: 45rem;
    height: 20rem;
  transform: translateX(10px);
  z-index: 0;
}
.blogIconandButton {
    transform: translate(-200px, -60px);

}

.blogTempMain {
    margin: 100px 20px 0px 0px;

}
.blogEntryMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: none;
    margin: none;
    overflow-x: hidden;
}
.blogTempIcon{
width: 60px;
}

.blogEntryMain{
    overflow-x: hidden;
    transform: translateX(-10px);
}
.blogTitle{
    font-size: 3.5vw;
    width: 100%;
}
.blogAuthor{
    font-size: 2.3vw;
    padding: 70px 0px 0px 3px;
}
.blogDescription{
    font-size: 2.5vw;
    max-width: 700px;
    color: #202258;
}
.blogTempDate{
    font-size: 2vw;
}
.tabList{
    transform: translateY(-120px) translateX(10px);
    max-width: 730px;
    font-size: 2vw;
}
.blogContentContainer{
    max-width: 720px;
    transform: translateY(-100px) translateX(20px);
    font-size: 2vw;
    overflow-x: hidden;
}
.blogReferenceSection{
    padding-bottom: none;
}
.designImg{
   width: 40em;
   object-fit: contain;
}
.styleImg{
   width: 40rem;
   object-fit: contain;

}
.topLink{
    width: 48px;
    position: relative;
    right: 0%;
    margin: 0px 0px 0px 50px;
}
.toTopImg{
    width: 48px;
}
}




/*//////////////////////////////////////////////////////Mobile/////////////////////////////////////////////////////////////////*/
@media only screen and  (max-width: 480px){
   .backButton{
    width: 60px;
    font-size: 1em;
    transform: translateX(60px) translateY(45px);
    z-index: 1;
   }
    .blogEntryMain{
        transform: translateX(-40px);
        transform: translateY(-20px);
        width: 370px;
        padding: none;
        margin: none;
        overflow-x: hidden;
        z-index: -1;
    }
    .blogTempMain{
        margin: none;
        padding: none;
        transform: translateX(-20px);
    }
    .entryImage{
        width: 20rem;
        height: 13rem;
        transform: translateX(10px);
        z-index: 0;
    }
 
        .blogIconandButton {
            transform: translate(40px, -40px);
    
        }
        .blogTempIcon{
            width: 50px;
            height: 50px;
            border: 3px solid;
        }
      
    .blogContentContainer{
        transform: translateX(-130px) translateY(-120px);
        font-size: 1em;
        overflow-x: hidden;
    }
    .blogFigure{
        width: 300px;
        transform: translateX(-20px)
    }
    .blogTitle{
        transform: translateX(-130px) translateY(-60px);
        font-size: 2.3em;
        width: 300px;
    }
    .blogAuthor{
        font-size: 1.7em;
        transform: translateX(-120px) translateY(-100px);
        
    }
    .blogDescription{
        transform: translateX(-120px) translateY(-120px);
        font-size: 1em;
    }
    .blogTempDate{
        transform: translateX(-120px) translateY(-120px);
        font-size: 1em;
    }
    .tabList{
        transform: translateX(-140px) translateY(-120px);
        font-size: 1em;
        border-bottom: 2px solid #898bc1;
    }
    .tabButton{
        transform: translateX(-30px);
        font-size: 0.6em;
    }
    .tabButton:hover{
        text-decoration: none;
    }
    .activeTab{
        text-decoration: none;
    }
    .blogReferenceSection{
        max-width: 300px;
        transform: translateX(-20px);
        font-size: 0.7em;
    }
    .designImg{
max-width: 18rem;
    }
        .styleImg{
           max-width: 18rem;
        }

        .relatedTitle{
            font-size: 2em;
            transform: translateX(-130px) translateY(-60px);
        }
.relatedSpan{
    display: flex;
    flex-direction: column;
    transform: translateX(-130px) translateY(-60px);
}
.emailSubscribe{
    transform: translateX(-130px);
}
#subEmail{
    padding: 10px;
  
    
}
.subscribeButton{
    padding: 10px;
    font-size: 0.45em;
}
.topLink{
    width: 48px;
    position: relative;
    right: 0%;
    margin: 0px 0px 0px 5px;
  
}
.toTopImg{
    width: 32px;
}
}