.blogMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    margin-bottom: 200px;

}
.mobileSelectionTitle{
    display: none;
}
@media only screen and (min-width: 374px) and (max-width: 766px){
    .blogMain{
        width: 360px;
        align-items: center;
    }
    .blogSTitle{
      display: none;
    }
    .blogSelectionTitle{
      
     display: none;
    }
    .mobileSelectionTitle{
        display: block;
        font-family: "ScrollTroll";
        color: #202258;
        font-size: 3em;
    }
}
