.blogContainer{
    display: flex;
    flex-direction: column;
}
.tabList{
    display: flex;
   width: 100%;
   border-top: 3px solid black;
  margin: 0px 40px 0px 40px;
  padding: 0px 10px 0px 10px;
}
.tab{
  border-top: 3px solid black;
  border-left: none;
border-right: none;
border-bottom: none;
background-color: rgba(255, 255, 255, 0.019);
font-size: 36px;
padding: 0px 20px 0px 20px;
}
.activeTab::before{
    content: "";
    display: block;

}
.activeTab{
    display: block;
}
.contentTabs{
    flex-grow: 1;
}
.content{
    display: none;
}
.activeContent{
    display: tab;
}