@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}
.footer{
    display: flex;
    flex-direction: row;
  position: relative;
  align-items: center;
  justify-self: center;
margin-left: 2%;
  bottom: 0;
  width: 96%;
  height: 100px;

  padding-bottom: none;
font-family: "ScrollTroll";
color: #595B8C;
 border-top: 4px solid #202258;
 font-size: 1.6vw;

}
h5{
    display: flex;
    flex: 50%;
    padding-left: 20px;
   
}
.footerLi{
    list-style: none;
 padding: 0px 10px 0px 10px;
}
.footerLink{
   
    text-decoration: none;
    color: inherit;
}
.footerLink:hover{
    color: red;
}

@media only screen and (min-width: 767px) and (max-width: 1199px){
.footer{
    height: 50%;
    max-width: 750px;
    transform: translateY(-100px);
}
.footerLi{
    transform: translateX(-3px);
   
}
}
@media only screen and (min-width: 374px) and (max-width: 766px){
    .footer{
      transform: translateY(100px);
        width: 160%;
        margin: 0px 20px 0px 20px;
    }
    h5{
        font-size: 3.5em;
    }
    .footerLink{
        font-size: 3.5em;
    }
}