.formContainer{
    position: relative;
    left: 20%;
    right: 20%;
   max-width: 60%;
    border: 5px solid #252762;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 60px 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.805);
    box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
        -webkit-box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
        -moz-box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
        font-family: 'ScrollTroll';
}
.progressBar{
    height: 70px;
    padding: 0px 0px 20px 0px;
    position: relative;
    left: 40%;
}
.formTitle{
    font-size: 3em;
    text-decoration: underline;
    text-underline-offset: 25px;
}
.inputTitles{
    font-size: 1.5em;
    color: #252762;
    margin: 30px 0px 5px 0px;
}
.nameSection{
    display: inline-flex;


}
.nameNext{
    align-self: center;
    justify-self: center;
    padding:40px 20px 40px 20px;
    margin: 30px 0px 0px 0px;
    background-color: #D11F2F;
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 50px;
}
.nameSubButton{
    font-size: 1em;
    font-style: normal;
}
.errorMessage{
    color: red;
}
.errorInput{
    border: solid 2px red;
}
.inputsA{
    border: 2px solid #8B8DC9;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
}
.inputsAB{
    border: 2px solid #8B8DC9;
        border-radius: 15px;
        padding: 10px;
        font-size: 1.5em;
        font-family: 'Outfit';
        font-style: normal;
}
.inputsA:hover{
border: 3px solid #252762;
}
.inputsB {
    border: 2px solid #8B8DC9;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
    width: 60%;
}
.inputsC {
    border: 2px solid #8B8DC9;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
    width: 20%;
}
.inputsD{
    border: 2px solid #8B8DC9;
        border-radius: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: 'Outfit';
        width: 10%;
}
.inputsFull{
    width: 100%;
    border: 2px solid #8B8DC9;
        border-radius: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: 'Outfit';
}
.inputsFull:hover{
    border: 3px solid #252762;
}
.inputsB:hover{
border: 3px solid #252762;
}
.inputsC:hover{
    border: 3px solid #252762;
}
.inputsD:hover {
    border: 3px solid #252762;
}
.nameSe{
 width: 50%;
}
.inputsA{
    width: 80%;
}
.inputCountry{
    width: 100%;
}
.countryNav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ScrollTroll';
    color: #252762;
    
}
.more{
font-family: 'ScrollTroll';
    color: #252762;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1.5em;
    margin: 10px;
}
.back{
    padding: 10px 40px 10px 40px;
    font-family: 'ScrollTroll';
        color: #252762;
        font-size: 2em;
        background-color: #7A9647;
        border: 2px solid #7A9647;
        border-radius: 15px;
        transition: ease-in-out 0.3s;
}
.back:hover{
        border: 3px solid #26285c;
            box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -webkit-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -moz-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            transition: ease-in-out 0.3s;
}
.next{
font-size: 1.5em;
margin: 10px;
}
.thisLink{
    text-decoration: none;
    color: #252762;
}
.proceed{
    font-style: normal;
    text-decoration: underline;
}
.hideDraw{
    display: none;
}
.showDraw{
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
}
.passwordError{
    white-space: pre-line;
    color: #D11F2F;
}
.passwordnputError{
    width: 100%;
        border: 2px solid #D11F2F;
        border-radius: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: 'Outfit';
}
.passwordInputError:focus::after{
width: 100%;
    border: 2px solid #D11F2F;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';

}
.passwordnputError:active{width: 100%;
    border: 2px solid #D11F2F;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';}
    .securityTitle{
        font-size: 2em;
        width: 80%;
        color: #252762;
    }
    .idSelection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .inputsE{
        width: 2%;
            border: 2px solid #8B8DC9;
            border-radius: 15px;
            padding: 10px;
            font-size: 1em;
            font-family: 'Outfit';
    }
    #idsel{
        margin: 5px;
    }
    .passwordNav{
        margin: 20px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: flex-end;
    }
    .passwordSubmit{
        padding: 10px 40px 10px 40px;
            font-family: 'ScrollTroll';
            color: #8B8DC9;
            font-size: 2em;
            background-color: transparent;
            border: 4px solid #8B8DC9;
            border-radius: 15px;
            margin: 0px 20px 0px 20px;
transition: ease-in-out 0.3s;
    }
    .passwordSubmit:hover{
        color: #252762;
        border: 4px solid #26285c;
            box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -webkit-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -moz-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            transition: ease-in-out 0.3s;
    }
    .psa{
        font-size: 1em;
        color: #7f81b9;
    }