.formContainer{
    position: relative;
    left: 20%;
    right: 20%;
   max-width: 60%;
    border: 5px solid #252762;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 60px 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.805);
    box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
        -webkit-box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
        -moz-box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
        font-family: 'ScrollTroll';
}
.mobileSnake{
    display: none;
}
.mobileNotice{
    display: none;
}
.progressBar{
    height: 70px;
    padding: 0px 0px 20px 0px;
    position: relative;
    left: 45%;
}
.formTitle{
    font-size: 3em;
    text-decoration: underline;
    text-underline-offset: 25px;
}
.inputTitles{
    font-size: 1.5em;
    color: #252762;
    margin: 30px 0px 5px 0px;
}
.nameSection{
    display: inline-flex;


}
.nameNext{
    align-self: center;
    justify-self: center;
    padding:40px 20px 40px 20px;
    margin: 30px 0px 0px 0px;
    background-color: #D11F2F;
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 50px;
}
.nameSubButton{
    font-size: 1em;
    font-style: normal;
}
.errorMessage{
    color: red;
}
.errorInput{
    border: solid 2px red;
}
.inputsA{
    border: 2px solid #8B8DC9;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
}
.inputsAB{
    border: 2px solid #8B8DC9;
        border-radius: 15px;
        padding: 10px;
        font-size: 1.5em;
        font-family: 'Outfit';
        font-style: normal;
}
.inputsA:hover{
border: 3px solid #252762;
}
.inputsB {
    border: 2px solid #8B8DC9;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
    width: 60%;
}
.inputsC {
    border: 2px solid #8B8DC9;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
    width: 20%;
}
.inputsD{
    border: 2px solid #8B8DC9;
        border-radius: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: 'Outfit';
        width: 10%;
}
.inputsFull{
    width: 100%;
    border: 2px solid #8B8DC9;
        border-radius: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: 'Outfit';
}
.inputsFull:hover{
    border: 3px solid #252762;
}
.inputsB:hover{
border: 3px solid #252762;
}
.inputsC:hover{
    border: 3px solid #252762;
}
.inputsD:hover {
    border: 3px solid #252762;
}
.nameSe{
 width: 50%;
}
.inputsA{
    width: 80%;
}
.inputCountry{
    width: 100%;
}
.countryNav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ScrollTroll';
    color: #252762;
    
}
.more{
font-family: 'ScrollTroll';
    color: #252762;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1.5em;
    margin: 10px;
}
.back{
    padding: 10px 40px 10px 40px;
    font-family: 'ScrollTroll';
        color: #252762;
        font-size: 2em;
        background-color: #7A9647;
        border: 2px solid #7A9647;
        border-radius: 15px;
        transition: ease-in-out 0.3s;
}
.back:hover{
        border: 3px solid #26285c;
            box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -webkit-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -moz-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            transition: ease-in-out 0.3s;
}
.next{
font-size: 1.5em;
margin: 10px;
}
.thisLink{
    text-decoration: none;
    color: #252762;
}
.proceed{
    font-style: normal;
    text-decoration: underline;
}
.hideDraw{
    display: none;
}
.showDraw{
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
}
.passwordError{
    white-space: pre-line;
    color: #D11F2F;
}
.passwordnputError{
    width: 100%;
        border: 2px solid #D11F2F;
        border-radius: 15px;
        padding: 10px;
        font-size: 1em;
        font-family: 'Outfit';
}
.passwordInputError:focus::after{
width: 100%;
    border: 2px solid #D11F2F;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';

}
.passwordnputError:active{width: 100%;
    border: 2px solid #D11F2F;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';}
    .securityTitle{
        font-size: 2em;
        width: 80%;
        color: #252762;
    }
    .idSelection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .inputsE{
        width: 2%;
            border: 2px solid #8B8DC9;
            border-radius: 15px;
            padding: 10px;
            font-size: 1em;
            font-family: 'Outfit';
            margin: 5px;
    }
  
    .passwordNav{
        margin: 20px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .passwordSubmit{
        padding: 10px 40px 10px 40px;
            font-family: 'ScrollTroll';
            color: #8B8DC9;
            font-size: 2em;
            background-color: transparent;
            border: 2px solid #8B8DC9;
            border-radius: 15px;
            margin: 0px 20px 0px 20px;
transition: ease-in-out 0.3s;
text-decoration: none;
    }

    .passwordSubmit:hover{
        color: #252762;
        border: 3px solid #26285c;
            box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -webkit-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            -moz-box-shadow: 6px 6px 0px 0px rgba(32, 34, 88, 0.69);
            transition: ease-in-out 0.3s;
    }
    .psa{
        font-size: 1em;
        color: #7f81b9;
    }
    .recaptchaButton{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        border: 1px solid #A9A9A9;
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            font-family: 'Roboto';
            padding: 10px;
            margin-bottom: 50px;
            width: 50%;
            margin-left: 25%;
    }
        .checkmark {
          
            height: 25px;
            width: 25px;
            background-color: #eee;
        }
        .recaptchaCopy{
            width: 40%;
            font-size: 1em;
            padding: 0px 20px 0px 40px;
        }
        .recaptchaIcon{
            width: 50px;
          align-items: flex-end;
          padding-left: 30%;
          
        }
    .recaptchaQuiz{
        border: 1px solid #A9A9A9;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);

    }
    .openQuiz{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
       
        align-items: center;
        justify-content: center;
    }
    .quizPrompt{
        align-self: flex-start;
        color: white;
        background-color: #3880EC;
        width: 100%;
        padding: 60px 0px 60px 3px;
        font-weight: normal;
        margin:0;
    }
    .submitPic{
        width: 20rem;
        align-items: center;
        justify-self: center;
    }
    .submitForm{
padding: 30px;
    width: 95%;
    }
    .closeQuiz{
        display: none;
    }
    .timer{
        font-size: 3em;
        color: #D11F2F;
        font-family: 'ScrollTroll';
    }
  .postContainer{
    display: flex;
    flex-direction: column;
    width: 96%;
    margin-left: 2%;
color: white;
    
    background-color: #232549;
  }
  .headerSocial{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #232549;
    color: white;
    font-size: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  .socialTabs{
    display: flex;
    font-family: 'ScrollTroll';
    font-size: 2em;
    width: 100%;
  }
  .feedName{
    width: 25%;
    margin-left: 25%;
    text-decoration: underline;
    text-underline-offset: 15px;
  }
  .exploreName{
    color: rgba(255, 255, 255, 0.752);
    width: 25%;
    margin-left: 25%;
  }
  .postHeadIcon{
    color: white;
    font-size: 48;
  }
  .postHeadIconA{
    padding: 0px 10px 0px 10px;
    justify-self: flex-end;
  }
  .postLeftNav{
    padding-left: 60%;
  }
  .postIcon{
    width: 48px;
    padding: 0px 10px 0px 10px;
  }
.postHeader{
    display: flex;
    align-content: center;
   font-family: 'ScrollTroll';
   font-size: 2em;
   padding: 20px;
}
.socialP{
    padding: 10px;
    font: 1em;
}
.usernameSocial{
    font-size: 0.6em;
    font-style: normal;
    color: #eee;
}
.fab{
   margin-left: 80%;
}
  .userText{
    width: 80%;
  }
  .TextArea{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

  }
  .textAc{
    margin: 0px 20px 20px 150px;
    width: 80%;
  }
  .postModal{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(0%, -20%);
    overflow-y: scroll;
  }
  .postModalCont{
    transform: translateY(30px);
  }
  .postModalTitle{
    color: white;
    font-size: 0.5em;
  }
  .postModalP{
    font-size: 0.5em;
  }
   .modalH2{
    font-size: 0.5em;
    font-family: "Comic Neue";
    color: #FFA900;
  }
  .devList{
    transform: translateY(-100px);
  }

    @media only screen and (min-width: 600px) and (max-width: 1000px) {
        .formContainer{
           
            left: 10%;
            margin: 10px 10px 150px 10px;
    }
    .formTitle{
        text-underline-offset: 0px;
    }
    .canvasDraw{
        max-width: 80%;
        transform: translateX(50px);
    }
    .postContainer{
        margin-bottom: 110px;
    }
    .postLeftNav{
        padding-left: 20%;
    }
    .fab{
        margin-left: 40%;
    }
    .textAc{
        margin: 0px 20px 20px 60px;
    }
    .postModalCont{
        transform: translateY(60%);
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .postModal{
        transform: translateY(30%);
        font-size: 1.2em;
        
    }
    .devList{
        transform: translateY(10px);
    }
    .gdPassion{
        width: 80%;
    }
}
@media only screen and (max-width: 400px) {
    .formContainer{
        border: 2px solid #252762;
        border-radius: 15px;
        box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.66);
            -webkit-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.66);
            -moz-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.66);
    }
    .progressBar{
        height: 40px;
        left: 20%;
    }
    .formContainer{
        left: 5%;
        padding: 40px;
    }
    .formTitle{
        text-underline-offset: 0px;
        font-size: 2em;
    }
    .inputTitles{
        font-size: 1em;
        margin: 10px;
    }
   .inputsA{
    margin-right: 15px;
   }
   .inputsB{
    width: 80%;
   }
   .inputsC{
    width: 40%;
   }
   .mobileSnake{
    display: block;
    font-size: 1em;
        color: #7f81b9;
   }
          .canvasDraw {
              max-width: 250px;
              transform: translateX(5px);
          }
 .more{
    font-size: 1em;
 }
 .back{
    font-size: 1em;
 }
 .next{
    font-size: 1em;
 }
 .inputsE{
    padding: 5px;
    margin: none;
 }

 .passwordNav{
    transform: translateX(20px);
 }
 .passwordSubmit{
   
    font-size: 1em;
 }
 .recaptchaButton{
    width: 100%;
    margin-left: 0;
 }
 .submitPic{
    width: 10rem;
 }
 .openQuiz{
    width: fit-content;
 }
 .quizPrompt{
    font-size: 1em;
 }
 .TextArea{
    display: none;
 }
 .timer{
    font: 1.5em;
    font-family: 'ScrollTroll';
 }
 #input-with-icon-textfield{
    display: none;
 }
 .headerSocial{
    font-size: 30px;
 }
 .postHeadIcon{
    font-size: 30px;
 }
 .postHeadIconA{
    padding: none;
   
 }
 .postIcon{
    width: 30px;
 }
 .search{
    display: none;
 }
 .postLeftNav{
    padding-left: 2px;
 }
 .socialTabs{
    font-size: 1em;
 }
 .postHeader{
    font-size: 1em;
    border-bottom: 2px solid white;
 }
 .mobileNotice{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
font-family: 'ScrollTroll';
    background-color: #D11F2F;

 }
 .pmmTitle{
    color: yellow;
 }
 .mgdPassion{
    width: 80%;
 }
 .mobmodalH2{
    font-family: 'Comic Neue';
    color: #FFA900;
 }
}
