@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

.homeForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 100px 20px 100px;
    margin: 20px 100px 20px 100px;
    transform: translateX(-100px);
    background-color: #202258;
    color: #fff;
    border-radius: 100px;

  
}
.formH2{
    font-family: 'ScrollTroll';
    background-color: #7A9647;
    width: 50%;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    justify-content: center;
    font-size: 3vw;
}
.formH2:hover {
    background-color: red;
   cursor: help;
    transition-delay: 0.3s; /*fix later */
}

.formH3{
    font-family: 'Outfit';
    padding: none;
    margin: none;
    font-size: 2.5vw;
}
.homeInput {
    padding: 20px;
    border-radius: 15px;
    background-color: #d9d9d9db;
    border: 4px solid #8B8DC9;
    font-family: 'Outfit';
        font-size: 2vw;
}
.homeInput:hover {
border: 4px solid #202258;

}
.nextA{
    font-family: 'ScrollTroll';
    text-decoration: underline;
    color: #fff;
    align-self: center;
    margin: 20px 0px 0px 0px;
}
.nextA:hover{
    cursor: pointer;
}