@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
        url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

.homeForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 100px 20px 100px;
    margin: 20px 100px 20px 100px;
    transform: translateX(-100px);
    background-color: #ffffff;
    color: #2f3170;
    border-radius: 100px;
        border: 10px solid #2f3170;
            box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
            -webkit-box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);
            -moz-box-shadow: 30px 30px 0px 0px rgba(32, 34, 88, 0.66);

  
}
.formH2{
    font-family: 'ScrollTroll';
    background-color: #7A9647;
    width: 50%;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    justify-content: center;
    font-size: 3vw;
    box-shadow: 4px 4px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 4px 4px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 4px 4px 0px 0px rgba(32, 34, 88, 0.69);
}
.formH2:hover {
    background-color: red;
   cursor: help;
    transition-delay: 0.3s; /*fix later */
}

.formH3{
    font-family: 'Outfit';
    padding: none;
    margin: none;
    font-size: 2.5vw;
}
.homeInput {
    padding: 20px;
    border-radius: 15px;
    background-color: #d9d9d9db;
    border: 4px solid #8B8DC9;
    font-family: 'Outfit';
        font-size: 2vw;
}
.homeInput:hover {
border: 4px solid #202258;

}
.nextA{
    font-family: 'ScrollTroll';
    text-decoration: underline;
    color: #2f3170;
    align-self: center;
    margin: 20px 0px 0px 0px;
}
.nextA:hover{
    cursor: pointer;
}
@media only screen and (min-width: 767px) and (max-width: 1199px){
    .homeForm{
        width: 350px;
        transform: translateX(80px);
    }
}
@media only screen and (min-width: 374px) and (max-width: 766px){
    .homeForm{
        width: 200px;
        transform: translateX(80px);
        padding: 15px 40px 15px 40px;
        border: 3px solid #2f3170;
        border-radius: 20px;
            box-shadow: 10px 10px 0px 0px rgba(32, 34, 88, 0.66);
                -webkit-box-shadow: 10px 10px 0px 0px rgba(32, 34, 88, 0.66);
                -moz-box-shadow: 10px 10px 0px 0px rgba(32, 34, 88, 0.66);
    }
    .formH2{
        font-size: 1.5em;
    }
    .formH3{
        font-size: 1em;
    }
}