@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
    url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.leftNav{
    display: flex;
    flex: 50%;
    align-items: center;
    padding-left: 2%;
}
.navTitle{
    display: flex;
    padding-left: 40px;
    text-decoration: none;
    color: #202258;
    font-family: "ScrollTroll";
    font-size: 2.5em;
}

.navUl{
    display: flex;
    flex: 50%;
    align-items: center;
    list-style-type: none;
    padding-left: 40%;

}
.navLi{
    padding: 0px 20px 0px 20px;
    
}
.navLinks{
    text-decoration: none;
    color: #595B8C;
    font-family: "ScrollTroll";
        font-size: 2em;
        transition: ease-in-out 0.3s;
        
}

.navLinks:hover{
    color: #202258; /*fix later*/
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition-delay: ease-in-out 0.3s;
}
.activeNav{
    color: red;
}
.menuButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;

   
}
.closeButton{
    background-color: transparent;
    border: none;
    cursor: none;
    display: none;
}
.mobileMenuButton{
    max-width: 30px;
}


.navSignUp{
    font-family: 'ScrollTroll';
    text-decoration: none;
    font-size: 2.2em;
    background-color: #7A9647;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
}
.navSignUp:hover{
    border: 3px solid #26285c;
    box-shadow: 8px 10px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.69);
        transition: ease-in-out 0.3s;
}
.mobileNav{
    display: none;
}

@media only screen and (min-width: 767px) and (max-width: 1199px){
    .navTitle{
        font-size: 2em;
        padding-left: 20px;
    }
    .navUl{
        padding-left: 0%;
        transform: translateX(70px);

    

    }
    .navLinks{
        font-size: 1.5em;
    }
    .navLi{
        padding: 0px 10px 0px 10px;
    }
    .nav{
        overflow-x: hidden;
    }
    
}
@media only screen and (min-width: 274px) and (max-width: 766px){
  
   .mobileNavSignUp{
    font-size: 0.7em;
display: flex;
justify-items: center;
align-items: center;
 background-color: #7A9647;
 font-family: "ScrollTroll";
 color: white;
 text-decoration: none;
 border-radius: 15px;
 padding: 5px 10px 5px 10px;
 margin: 25px 5px 5px 120px;
 transform: translateY(-5px) translateX(20px);
transition: ease-in-out 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
    -moz-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);

   }
   .navBar{
    display: none;
   }
   .mobileNav{
    display: flex;
    flex-direction: column;
    z-index: 3;
  
 
   }
.openList{
display: block;
width: 100%;
height: 110%;
position: fixed;
z-index: 4;
transform: translateY(-20px);
background-color: #26285cf7;
overflow: hidden;
}
   .mobileAllVis{
    display: inline-flex;
   }
   .mobileLogoImg{
    display: flex;
    max-width: 48px;
    padding: 10px 50px 5px 15px;
   }
   .mobileOpenLogo{
    width: 40px;
    transform: translateX(-25px);
   }
   .menuButton{
    padding: 25px 10px 5px 15px;
    margin: 0px 5px 0px 20px;
   }
   .closeButton{
    display: flex;
    z-index: 10;
   }
   .mobileCloseButton{
 display: flex;
 width: 24px;
 transform: translateX(260px);
 opacity: 0.8;
 padding: 20px 10px 10px 10px;
 z-index: 10;
   }
   .openMobileTitle{
     list-style: none;
    font-family: 'ScrollTroll';
    margin: 10px 0px 20px 0px;
    font-size: 2.5em;
    max-width: 350px;
   
    z-index: 3;
   
   }
   .mobileHr{
    transform: translateX(-40px);
   }
   .close{
    display: none;
    text-decoration: none;
   }
   .open {
    display:flex;
    font-family: 'ScrollTroll';
    width: 100%;
  padding: 10px 10px 5px 5px;
  font-size: 2em;
  
    color: white;
    opacity: 0.8;
    text-decoration: none;
    
  
   
    
   }
   .open:hover{
   text-decoration: underline;
    text-underline-offset: 5px;
    transition-delay: 0.3s;
    opacity: 1;
  
   }
  
   .mobileNavList{
    text-decoration: none;
    font-family: 'ScrollTroll';
    color: white;
  


   }
   .navMobileLinks{
    text-decoration: none;
    color: white;
   }

}