@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
    url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.leftNav{
    display: flex;
    flex: 50%;
    align-items: center;
    padding-left: 2%;
}
.navTitle{
    display: flex;
    padding-left: 40px;
    text-decoration: none;
    color: #202258;
    font-family: "ScrollTroll";
    font-size: 2.5em;
}

.navUl{
    display: flex;
    flex: 50%;
    align-items: center;
    list-style-type: none;
    padding-left: 40%;

}
.navLi{
    padding: 0px 20px 0px 20px;
    
}
.navLinks{
    text-decoration: none;
    color: #595B8C;
    font-family: "ScrollTroll";
        font-size: 2em;
        
}
.navLinks:hover{
    color: #202258; /*fix later*/
    cursor: pointer;
    text-decoration: underline;
}
.activeNav{
    color: red;
}
.menuButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navSignUp{
    font-family: 'ScrollTroll';
    text-decoration: none;
    font-size: 2.2em;
    background-color: #7A9647;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 2px 2px 0px 0px rgba(32, 34, 88, 0.69);
}
.navSignUp:hover{
    border: 3px solid #26285c;
    box-shadow: 8px 10px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 5px 5px 0px 0px rgba(32, 34, 88, 0.69);
        transition: ease-in-out 0.3s;
}
@media only screen and (min-width: 767px) and (max-width: 1199px){
    .navTitle{
        font-size: 2em;
        padding-left: 20px;
    }
    .navUl{
        padding-left: 0%;
        transform: translateX(200px);

    

    }
    .navLinks{
        font-size: 1.5em;
    }
    .navLi{
        padding: 0px 5px 0px 5px;
    }
    .nav{
        overflow-x: hidden;
    }
    
}
@media only screen and (min-width: 374px) and (max-width: 766px){
    .navTitle{
        font-size: 1.5em;
        width: 200px;
        transform: translateX(-30px);
    }
    .navImage{
        width: 50px;
    }
    .navUl{
        transform: translateX(-280px);
        padding: none;
    }
    .navLinks{
        font-size: 1em;
        padding: none;
    }
    .navLi{
        padding: none;
        margin: none;

    }
}