@font-face {
    font-family: "ScrollTroll";
    src: local("Scroll_Troll-Regular"),
    url("../fonts/Scroll_troll-Regular.ttf") format("truetype");
}

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.leftNav{
    display: flex;
    flex: 50%;
    align-items: center;
    padding-left: 2%;
}
.navTitle{
    display: flex;
    padding-left: 40px;
    text-decoration: none;
    color: #202258;
    font-family: "ScrollTroll";
    font-size: 2.5em;
}

.navUl{
    display: flex;
    flex: 50%;
    align-items: center;
    list-style-type: none;
    padding-left: 50%;

}
.navLi{
    padding: 0px 20px 0px 20px;
    
}
.navLinks{
    text-decoration: none;
    color: #595B8C;
    font-family: "ScrollTroll";
        font-size: 2em;
        
}
.navLinks:hover{
    color: #202258; /*fix later*/
    cursor: pointer;
    text-decoration: underline;
}
.activeNav{
    color: red;
}


@media only screen and (min-width: 767px) and (max-width: 1199px){
    .navTitle{
        font-size: 2em;
        padding-left: 20px;
    }
    .navUl{
        padding-left: 0%;
        transform: translateX(200px);
    

    }
    .navLinks{
        font-size: 1.5em;
    }
    .navLi{
        padding: 0px 5px 0px 5px;
    }
    .nav{
        overflow-x: hidden;
    }
    
}