.smMain{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.smTitle{
    display: flex;
    align-self: center;
    justify-content: center;
}
.smUL{
    margin: 50px 50px 230px 50px;
}
.smMP{
   font-family: "ScrollTroll";
   color: #202258;
   font-size: 2.4em;
   text-underline-offset: 5px;
 padding-bottom: 50px;
}
.smMinor{
    font-family: "Outfit";
    color: #383b9a;
    font-size: 1.3em;
    text-decoration: none;
}
.smMinor:hover{
    color: #202258;
    text-decoration: underline;
}