/* .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

} */

.snake-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px solid #26285c;
    border-radius: 25px;
    background-color: #363a96;
    box-shadow: 20px 20px 0px 0px rgba(32, 34, 88, 0.69);
        -webkit-box-shadow: 20px 20px 0px 0px rgba(32, 34, 88, 0.69);
        -moz-box-shadow: 20px 20px 0px 0px rgba(32, 34, 88, 0.69);
}

.grid-item {
     /* outline: 1px solid rgb(255, 255, 255);   */
    border-radius: 25px;
    background-color:#363a96;
    width: 50px;
    height: 50px;
}

.snake {
    outline: 1px solid #526530;
    background-color: #7A9647;

    width: 50px;
    height: 50px;
}


.food {
    outline: 1px solid #EA9B00;
    background-color: #EA9B00;
    border-radius: 25px;
    width: 50px;
    height: 50px;

}