@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: "ScrollTroll";
  src: local("Scroll_Troll-Regular"),
    url("./fonts/Scroll_troll-Regular.ttf") format("truetype");
}
.App {
  background-color: #FFF2D8;;
}
body{
  background-color: #FFF2D8;
  padding: 0;
  margin: 0;
}